<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>Authorization.AuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ShopSideBarServlet</servlet-name>
        <servlet-class>controller.ShopSideBarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lstpostServlet</servlet-name>
        <servlet-class>postcontroller.lstpostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchpostServlet</servlet-name>
        <servlet-class>postcontroller.searchpostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filterpostServlet</servlet-name>
        <servlet-class>postcontroller.filterpostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShopSideBarServlet</servlet-name>
        <url-pattern>/shop-sidebar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BlogListServlet</servlet-name>
        <servlet-class>controller.BlogListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailServlet</servlet-name>
        <servlet-class>controller.BlogDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogListCategoryServlet</servlet-name>
        <servlet-class>controller.BlogListCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogSearchServlet</servlet-name>
        <servlet-class>controller.BlogSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyOrderServlet</servlet-name>
        <servlet-class>controller.MyOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailServlet</servlet-name>
        <servlet-class>controller.OrderDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlogListServlet</servlet-name>
        <url-pattern>/blogList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailServlet</servlet-name>
        <url-pattern>/blogDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogListCategoryServlet</servlet-name>
        <url-pattern>/blogCate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogSearchServlet</servlet-name>
        <url-pattern>/blogSearch</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterVerifyServlet</servlet-name>
        <servlet-class>controller.RegisterVerifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verifyCodeServlet</servlet-name>
        <servlet-class>controller.verifyCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMailServlet</servlet-name>
        <servlet-class>controller.SendMailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmailServlet</servlet-name>
        <servlet-class>controller.SendEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserVerifyServlet</servlet-name>
        <servlet-class>controller.UserVerifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <servlet-class>controller.VerifyCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUserProfileServlet</servlet-name>
        <servlet-class>controller.ViewUserProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfile_UpdateServlet</servlet-name>
        <servlet-class>controller.UserProfile_UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfile_ViewServlet</servlet-name>
        <servlet-class>controller.UserProfile_ViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeServlet</servlet-name>
        <servlet-class>controller.ChangeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetServlet</servlet-name>
        <servlet-class>controller.ResetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MKTDashBoardServlet</servlet-name>
        <servlet-class>controller.MKTDashBoardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterVerifyServlet</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verifyCodeServlet</servlet-name>
        <url-pattern>/verifyCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMailServlet</servlet-name>
        <url-pattern>/sendmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmailServlet</servlet-name>
        <url-pattern>/SendEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserVerifyServlet</servlet-name>
        <url-pattern>/UserVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <url-pattern>/VerifyCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUserProfileServlet</servlet-name>
        <url-pattern>/userprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfile_UpdateServlet</servlet-name>
        <url-pattern>/updateuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfile_ViewServlet</servlet-name>
        <url-pattern>/viewuser</url-pattern>
    </servlet-mapping>
    <!--phan cua Hai-->
    <servlet>
        <servlet-name>ListUser</servlet-name>
        <servlet-class>admin.controll.user.ListUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListUser</servlet-name>
        <url-pattern>/listuser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditUser</servlet-name>
        <servlet-class>admin.controll.user.EditUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditUser</servlet-name>
        <url-pattern>/edituser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminEditUser</servlet-name>
        <servlet-class>admin.controll.user.AdminEditUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminEditUser</servlet-name>
        <url-pattern>/adminedituser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>admin.controll.user.AddUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/adduser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AcceptEditUser</servlet-name>
        <servlet-class>admin.controll.user.AcceptEditUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AcceptEditUser</servlet-name>
        <url-pattern>/acceptedituser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminDashboard</servlet-name>
        <servlet-class>admin.view.dashboard.AdminDashboard</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminDashboard</servlet-name>
        <url-pattern>/AdminDashboard</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SaleMNG_ListOrder</servlet-name>
        <servlet-class>salemanager.controll.SaleMNG_ListOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaleMNG_ListOrder</servlet-name>
        <url-pattern>/salemng_listorder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DetailProductServlet</servlet-name>
        <servlet-class>controller.DetailProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DetailProductServlet</servlet-name>
        <url-pattern>/detailproduct</url-pattern>
    </servlet-mapping>
    <!--het phan Hai-->
    <!--dung-->
    <!--het dung-->
    <servlet-mapping>
        <servlet-name>ChangeServlet</servlet-name>
        <url-pattern>/change</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetServlet</servlet-name>
        <url-pattern>/reset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MKTDashBoardServlet</servlet-name>
        <url-pattern>/mktDashboard</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
        <servlet-name>MyOrderServlet</servlet-name>
        <url-pattern>/myorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailServlet</servlet-name>
        <url-pattern>/orderdetail</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>lstpostServlet</servlet-name>
        <url-pattern>/lstpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchpostServlet</servlet-name>
        <url-pattern>/searchpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filterpostServlet</servlet-name>
        <url-pattern>/filterpost</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
